@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
  }
  

  /* Global styles */
  *{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}



.header{

    top: 0;right: 0;left: 0;
    background-color:rgba(198, 12, 12, 0.834);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0.01rem 4%;
    z-index: 999;
  }
  .header .logoContent{
    display: flex;
    align-items: center;
  }
  
  .header .logoContent .logo img{
    height: 4rem;
  }
  .header .logoContent .logoName {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .header .navbar a{
    font-size: 1.7rem;
    margin-right: 1.7rem;
    color: var(--white  );
    font-weight: bold;
  }
  .header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
  }
  
  .input-groupmb-3{
    width: 11%;
    display:inline-flex;
  }

  
.space{
}
.banner-img
{
    margin: 50px 200px;
    width: 45%;
    margin-top: 75px;
}
.banner-img img
{
    width: 70%;
    margin-bottom: -80px;
    border-radius: 10px;
    height: 40%;
}
.banner
{
    position: relative;
}

/*------Apple-Trends------*/
.apple-trends
{
    padding: 10px 0;
}
.apple-box
{
 margin: 55PX 0;    
}
.title-style h1
{
    padding: 35px 0;
}
.title-style
{
    margin: 0 auto 40px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}
.title-style::after
{
    content: '';
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style::before
{
    content: '';
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

#list {
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.334);
  }
  
  #list h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .card {
    border: none;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 40px;
    padding: 50px;
    width: fit-content;
    height: 550px;
  }
  
  .card-img-top {
    height: max-content;
    object-fit:cover;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .card ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .card ul li {
    margin-bottom: 5px;
  }
  
  .card p strong {
    font-weight: bold;
  }
  
  .card a.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .card a.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .footer {
    background-color: rgb(109, 84, 84);
  }
  
  .logofoot{
    height: 4rem;
  }
 
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: 30%;
    text-decoration: none;
    padding: 1.9rem 8%;
    align-items: center;
  
  }


  .col-md-4 a{
    text-decoration: none;
    color: white;
  margin: 1rem;  }
  
  h3 {
    margin-top: 0;
    font-size: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  li {
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  
  hr {
    border-color: #444;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
    text-decoration:none
  }
  
  .fa {
    font-size: 24px;
  }
  
  